@charset "utf-8";

/*
* {
  margin: 0;
  padding: 0;

}
*/

.transfBloco {
    display: block;
}

.transfLine {
    display: inline;
}

.clear {
    clear: both;
}

div#linha1,
div#linha2 {
    border: 1px solid #ccc;
    overflow: auto;
    margin: 5px 0 5px 0;
    padding: 4px;
}


div .campoTipo1 {
    background-color: #B2B2B2;
    width: 200px;
    float: left;
}

div .campoTipo1 label {
    display: block;
}

a[href^="http://"] {
    background-image: url (seta.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 15px;
}

